.header{
	font-family: 'Amatic SC', cursive;
	color: white;
}

.about {
	font-family: 'Josefin Sans', sans-serif;
}

.portfolio {
	font-family: 'Josefin Sans', sans-serif;
}

.portfolio-item {
  color: white;
  font-family: 'Amatic SC', cursive;
}

.sidebar-nav {
	font-family: 'Josefin Sans', sans-serif;
}

.portfolio-item h2{
	color: white;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
}

footer {
	font-family: 'Josefin Sans', sans-serif;
}

footer h4 {
	font-family: 'Amatic SC', cursive;
}